.card{
    width:225px;
    height:310px;
    border-bottom: 4px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:16px;
    position:relative;
    display:flex;
    flex-wrap:wrap;

}
.picture{
    width:350px;
    height:155px;
    Border:3px solid blue;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.name{
    border:3px solid blue;
    color:white;
}
.description{
    border:3px solid blue;
    color:white;
}
.card{
    background-color:black;
}
.type{
    position:absolute;
    right:0;
    padding: 4px 8px;
}

.card2{
    width:196px;
    height:320px;
    border-bottom: 4px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:16px;
    position:relative;
    display:flex;
    flex-wrap:wrap;

}
.picture2{
    width:350px;
    height:155px;
    Border:3px solid blue;
}
.card2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.name2{
    border:3px solid blue;
    color:white;
}
.description2{
    border:3px solid blue;
    color:white;
}
.card2{
    background-color:black;
}
.type2{
    position:absolute;
    right:0;
    padding: 4px 8px;
}


.card3{
    width:225px;
    height:320px;
    border-bottom: 4px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:16px;
    position:relative;
    display:flex;
    flex-wrap:wrap;

}
.picture3{
    width:350px;
    height:155px;
    Border:3px solid blue;
}
.card3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.name3{
    border:3px solid blue;
    color:white;
}
.description3{
    border:3px solid blue;
    color:white;
    position:relative;
}
.card3{
    background-color:black;
}
.type3{
    position:absolute;
    right:0;
    padding: 4px 8px;
}



.card4{
    width:162px;
    height:250px;
    border-bottom: 4px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin:10px ;
    position:relative;
    display:flex;
    flex-wrap:wrap;

}
.picture4{
    width:350px;
    height:155px;
    Border:3px solid blue;
}
.card4:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.name4{
    border:3px solid blue;
    color:white;
}
.description4{
    border:5px solid blue;
    color:white;
    margin:1px 1px;
}
.card4{
    background-color:black;
}
.type4{
    position:absolute;
    right:0;
    padding: 4px 15px;
}
.card-area{
    display:flex;
    flex-wrap:wrap;
}